<template>
  <vuetable ref="vuetable"
    api-url="http://localhost:8080/api/tutorials"
    :fields="['title', 'runtime']"
    data-path=""
    pagination-path=""
  ></vuetable>
</template>

<script>
import Vuetable from 'vuetable-2'

export default {
  components: {
    Vuetable
  }
}
</script>
