<template>
  <div>
    <vue-good-table
      :columns="columns"
      :rows="rows"
      
      :fixed-header="true"
      :search-options="{
        enabled: true
      }"
      @on-row-click="onRowClick"
      theme="black-rhino"
      :select-options="{ 
       enabled: true,
      }">
        <div slot="selected-row-actions">
          <button>Action 1</button>
        </div>
      </vue-good-table>
  </div>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";

export default {
  name: 'my-component',
  data(){
    return {
      columns: [
        {
          label: 'Title',
          field: 'title',
        },
        {
          label: 'Runtime',
          field: 'runtime',
          type: 'number',
        },
      ],
      rows: [],
    };
  },
  methods: {
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          this.rows = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    onRowClick(params) {
      console.log(params);
    }
  },
  mounted() {
    this.retrieveTutorials();
  }
};
</script>