<template>
    <b-table 
      :data="data" 
      :columns="columns">
    </b-table>
</template>

<script>
import TutorialDataService from "../services/TutorialDataService";

export default {
  data() {
    return {
      data: [],
      columns: [
        {
          field: 'title',
          label: 'Title',
          width: '10',
          centered: true,
          searchable: true,
        },
        {
          field: 'runtime',
          label: 'Runtime',
          numeric: true,
        }
      ]
    };
  },
  methods: {
    retrieveTutorials() {
      TutorialDataService.getAll()
        .then(response => {
          console.log("Got data");
          this.data = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
  },
  mounted() {
    this.retrieveTutorials();
  }   
};
</script>